<div>
  Home!
  <a
    class="logout"
    href="/logout">
    Logout
  </a>
  <form action="/blog/update-account?_method=PUT" method="POST">
    <input
      id="name"
      type="text"
      name="name"
      maxlength="255"
      placeholder="type your full name"
      value="<%= user.name %>"
      required>
    <input
      id="email"
      type="email"
      name="email"
      maxlength="255"
      placeholder="example@email.com"
      value="<%= user.email %>"
      required>
    <button
      type="submit"
      class="update-account">
      Update info
    </button>
  </form>
  <form action="/blog/delete-account?_method=DELETE" method="POST">
    <button
      type="submit"
      class="remove-account">
      Delete account
    </button>
  </form>
</div>
