section.posts, section.user-info{
  width: 890px;
}

.posts .wrapper, .user-info{
  border-radius: 2vh;
  background-color: #f5f5f5;
  padding: 3vh;
  margin-bottom: 2vh;
  box-shadow: 1px 2px 1px 1px rgba(44, 62, 80, 0.2);
}

.total-posts{
  font-size: 12px;
  color: #f5f5f5;
}

.user-info{
  margin-top: 2vh;
  background-color: rgba(42, 42, 42, 0.8);
}

.name strong, .email, .email em{
  color: #f5f5f5;
}

.column{
  display: flex;
  flex-direction: column;
}

.posts .title{
  font-size: 2rem;
}

.posts .category{
  font-style: italic;
  color: #3b536b;
}

article.content{
  margin: 2vh 0;
  text-align: justify;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.updated-at, .created-at{
  font-size: 12px;
}
